@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Биржа пряников</title>
</head>
<body>
	<div>
		<table class="table table-bordered">
			<tbody>
				<tr>
					<th>Количество</th>
					<th>Цена</th>
					<!--<td><p>Количество</p></td>
					<td><p>Цена</p></td>-->
				</tr>
				@foreach (var b in ViewBag.Gingerbreads)
				{
					<tr>
						<td>@b.Count</td>
						<td>@b.Price</td>
						<!--<td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>-->
					</tr>
				}
			</tbody>
		</table>
	</div>
</body>
</html>